In [19]:
# 1. Convert an integer to a floating-point number.
a = 102
b = float(a)
print("Integer number: ", a)
print("Float number: ", b)

Integer number:  102
Float number:  102.0

In [20]:
# 2. Convert a float to an integer.
a = 102.456
b = int(a)
print("Float number: ", a)
print("Integer number: ", b)

Float number:  102.456
Integer number:  102

In [24]:
# 3. Convert an integer to a string.
a = 102
b = str(a)
print("integer: ", a)
print("string: ", b)

integer:  102
string:  102

In [ ]:
# 4. Convert a list to a tuple.
a = [1,2,3,"list"]
b = tuple(a)
print("list: ", a)
print("tuple: ", b)

In [26]:
# 5. Convert a tuple to a list.
a = (1,2,3,"tuple")
b = list(a)
print("Tuple: ", a)
print("list: ", b)

Tuple:  (1, 2, 3, 'tuple')
list:  [1, 2, 3, 'tuple']

In [28]:
# 6. Convert a decimal number to binary.
a = 2
b = bin(a)
print("decimal: ", a)
print("binary: ", b)

decimal:  2
binary:  0b10

In [29]:
# 7. Convert a non-zero number to boolean.
a = 1012
b = bool(a)
print("non zero: ", a)
print("bool: ", b)

non zero:  1012
bool:  True