In [30]:
# 1. Calculate the sum, difference, product, and quotient of two numbers.
numA = int(input("Enter number 1: "))
numB = int(input("Enter number 2: "))

print("Sum: ", numA + numB)
print("Difference: ", numA - numB)
print("Product: ", numA * numB)
print("Quotient /: ", numA / numB)
print("Quptient //: ", numA // numB)

Enter number 1: 10
Enter number 2: 5
Sum:  15
Difference:  5
Product:  50
Quotient /:  2.0
Quptient //:  2

In [35]:
# 2. Perform various assignment operations on a variable.

a = 5
print("a = 5 : ", a)

a += 5
print("a += 5 : ", a)

a -= 2
print("a -= 2 : ", a)

a *= 5
print("a *= 8 : ", a)

a /= 8
print("a /= 8 : ", a)

a = 5 :  5
a += 5 :  10
a -= 2 :  8
a *= 8 :  40
a /= 8 :  5.0

In [36]:
# 3. Compare two numbers and print the results.
num1 = 10
num2 = 5

if num1 > num2 :
  print("num1 is greater than num2.")

elif num1 == num2 :
  print("num1 is equal to num2.")

else:
  print("num1 is smaller than num2.")

num1 is greater than num2.

In [42]:
# 4. Check conditions using logical operators.

name = "Maaz"
password = "1234"

if name=="Maaz" and password == "1234":
  print("Welcome, Maaz !")

else:
  print("Incorrect Name or Password")

print("\nLOGICAL AND:")
print("1 and 1: ", 1 and 1)
print("1 and 0: ", 1 and 0)
print("0 and 1: ", 0 and 1)
print("0 and 0: ", 0 and 0)

print("\nLOGICAL OR:")
print("1 or 1: ", 1 or 1)
print("1 or 0: ", 1 or 0)
print("0 or 1: ", 0 or 1)
print("0 or 0: ", 0 or 0)

print("\nLOGICAL NOT:")
print("not 1: ", not 1)
print("not 0: ", not 0)

Welcome, Maaz !

LOGICAL AND:
1 and 1:  1
1 and 0:  0
0 and 1:  0
0 and 0:  0

LOGICAL OR:
1 or 1:  1
1 or 0:  1
0 or 1:  1
0 or 0:  0

LOGICAL NOT:
not 1:  False
not 0:  True

In [47]:
# 5. Check the identity of variables.
a = 12309
b = 12309
c = a

print("id of a: ", id(a))
print("id of b: ", id(b))
print("id of c: ", id(c))

print("a == b : ", a == b)
print("a == c : ", a == c)
print("a is b : ", a is b)
print("a is c : ", a is c)

id of a:  136328291830832
id of b:  136328291832048
id of c:  136328291830832
a == b :  True
a == c :  True
a is b :  False
a is c :  True

In [52]:
# 6. Perform bitwise operations on any two integers.
print("number 1 = 2 and number 2 = 3")
print("Bitwise and &: ", 2 & 3)
print("Bitwise or |: ", 2 | 3)
print("Bitwise not ~: ", ~3)
print("Bitwise xor ^: ", 2 ^ 3)
print("Bitwise left shift <<: ", 2 << 3)
print("Bitwise right shift >>: ", 2 >> 3)

number 1 = 2 and number 2 = 3
Bitwise and &:  2
Bitwise or |:  3
Bitwise not ~:  -4
Bitwise xor ^:  1
Bitwise left shift <<:  16
Bitwise right shift >>:  0

In [54]:
# 7. Use unary operators to change the sign of a number.

num = 10
print("Original number: ", num)

num = -num
print("number after applying -num: ", num)

num = -num
print("again apply -num: ", num)

Original number:  10
number after applying -num:  -10
again apply -num:  10

In [53]:
# 8. Use the ternary operator to assign values based on conditions.
a = 10
b = 20
c = a if (a>b) else b
print(c," is the greatest number.")

20  is the greatest number.