In [16]:
# 1. Print numbers from 1 to 5 using a while loop.

i = 1
while(i<=5):
  print(i)
  i += 1

1
2
3
4
5

In [18]:
# 2. Calculate the sum of numbers from 1 to 10 using a while loop.

i = 1
sum = 0
while(i <= 10):
  sum = sum + i
  i = i + 1
print("Sum: ", sum)

Sum:  55

In [19]:
# 3. Calculate the factorial of a number using a for loop.

num = int(input("Enter a number to find the factorial: "))
fact = 1

for i in range(1,num+1):
  fact = fact * i

print("Factorial: ", fact)

Enter a number to find the factorial: 5
Factorial:  120

In [20]:
# 4. Count the number of vowels in a string using a for loop.

a = "Data Science with Generative AI Course by PW Skills"
vowels = 0

for char in a:
  if char in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']:
    vowels = vowels + 1

print("Total Vowels: ", vowels)

Total Vowels:  17

In [30]:
# 5. Print a pattern using nested loops.

for i in range(1,6):
  for j in range(i):
    print(j+1, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [34]:
for i in range(5,0, -1):
  for j in range(i):
    print(j+1, end = " ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [21]:
# 6. Generate a multiplication table using nested loops.


num = int(input("Enter any number to print table: "))

for i in range(1,11):
  print(f"{num} * {i} = {num * i}")

Enter any number to print table: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50