In [3]:
# 1. Write a program to print numbers from 1 to 10, but stop if the number is 5.

for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

In [4]:
# 2. Write a program to iterate through a list and stop when encountering a specific element.

l = [1,2,3,'pwskills', 'genai', 'machine learning']

for i in l:
  if i == "genai":
    break
  print(i)

1
2
3
pwskills

In [5]:
# 3. Write a program to skip printing even numbers from 1 to 10.

for i in range(1,11):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [6]:
# 4. Write a program to print numbers from 0 to 9 using range().

for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
# 5. Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each number.

# way 1
for i in range(1,6):
  print(f"{i} * 1 = {i * 1}")

1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5

In [14]:
# way 2

for i in range(1,6):
  for j in range(1,11):
    if j==1:
      print(f"{i} * {j} = {i * j}")
      break
  print()

1 * 1 = 1

2 * 1 = 2

3 * 1 = 3

4 * 1 = 4

5 * 1 = 5

In [9]:
# 6. Write a program to skip printing even numbers using a while loop.

i = 1
while (i<=100):
  if i % 2 == 0:
    i = i + 1
    continue
  print(i)
  i = i + 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99